.login{
	margin-top:25px;
}

#header{
	border-bottom:1px solid #eee;
}

#footer{
	border-top: 1px solid #eee;
}

.controls{
	margin-top:25px;
}

.day{
	border-bottom: 1px solid black;
}

.box{
	border: 1px solid rgb(214, 214, 214);
}

.day-grid{
	margin: 10px 0;
}

.cancel-upvote{
	color: blue;
	border-color:blue;
}

.add {
	border: 1px solid #eee;
}

.edit{
	border: 1px solid #eee;
}

.info{
	border: 1px solid #eee;
}

.info-margin{
	margin: 10px;
}

.about{
	border: 1px solid #eee;
}

