.t1{
	font-family: 'Dancing Script', cursive;
}

body{
	padding-top:300px;
	-webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.login{
	background-color:white;
	color:black;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.fb-login{

}

#header{
	height: 300px;
	background-image:url("/images/bg2.jpg");
	background-size: cover;
	color: white;
	-webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#footer{
	background-color:#0E0C2D;
	color: #eee;
	padding:10px 0;
}

.calendar{
	margin-top:20px;
}

.controls{
	display:none;
}

.controls2{
	display:none;
}

.box{
	border: 1px solid rgb(214, 214, 214);
	background-color:white;
	margin-top:10px;
	margin-bottom:10px;
}

.info-xs{
	display:block;
}

.info-md{
	display:none;
}

.day{
	border-bottom: 1px solid black;
}

.day-grid{
	margin: 10px 0;
}

.cancel-upvote{
	color: blue;
	border-color:blue;
}

.add {
	border: 1px solid #eee;
}

.edit{
	border: 1px solid #eee;
}

.info{
	
	border: 1px solid #eee;
}

.about{
	border: 1px solid #eee;
}

.odd-row{
	background-color: rgb(240, 240, 240);
}

.pub-info-item{
	font-family: 'Source Serif Pro', serif;
	font-size:20px;
}

.pub-title{
	font-family: 'Candal', sans-serif;
}

.calendar-number{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size:80px;
	margin-top:0;
}

.calendar-day{
	margin-bottom: 0;
	text-transform:capitalize;
}

.main-title{
	font-family: 'Dancing Script', cursive;
	font-size:50px;
}

#brand-small{
	margin-top:10px;
}

.subtitle{
	margin-top:50px;
	font-family: 'Source Serif Pro', serif;
}

.shrink{
	height:100px;
}

.nav-small{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 11px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 3px solid white;
	border-radius: 4px;
}

.icon-bar-small{
	display: block;
	width: 35px;
	height: 2px;
	border-radius: 1px;
	background-color: white;
	margin: 7px 0;
}

.controls-small{
	display: none;
}

.dropdown-small{
	display: none;
}
	
.dropdown-xs{
	display: block;
}

.dropdown-xs-bg{
	background-color:rgba(0,0,0,0.9);
	color:white;
}

.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
	color: white;
	text-decoration:none;
	background-color:transparent;
}

.nav > li{
	margin:10px 0;
}

.separator{
	height: 1px;
	margin:9px 0;
	overflow:hidden;
	background-color:white;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.info-xs{
		display:none;
	}

	.info-md{
		display:block;
		margin: 10px;
	}

	.controls{
		display: block;
		margin-top:210px;	
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	
	.controls2{
		display: block;
	}

	.box{
		margin-top:0;
		margin-bottom:0;
	}

	.dropdown-small{
		display:block;
	}

	.dropdown-xs{
		display:none;
	}

	.main-title{
		font-size:78px;
	}

	.subtitle{
		margin-top:0;
		display:block;
	}
}
